asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.1
dj-database-url==2.1.0
Django==3.2.22
django-zoom-meetings==0.1.0
gunicorn==21.2.0
idna==3.4
packaging==23.2
Pillow==9.5.0
psycopg2==2.7.4
psycopg2-binary== 2.7.0
PyJWT==1.2.1
requests==2.31.0
schedule==0.4.4
sqlparse==4.7.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
zoomus==1.2.1
