{% extends 'base.html' %}
{% block body %}
{% include 'slider/slider.html'%}
{% load static %}
<div class="learn py-5" >
    <p class="underline my-2"><span> تعلــم معنــاالآن</span></p>
    <div class="row justify-content-center">
        {% for course in courses %}
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card my-3 cardPrice" style="width: 25rem;">
          <img src="http://127.0.0.1:8000/media/{{course.img}}" class="card-img-top img-fluid " alt="...">
          <div class="card-body">
            <h5 class="card-title text-center border-bottom pb-2">{{course.name}}</h5>
            <p class="card-text border-bottom pb-2">{{course.description}}</p>
            <p class="card-text price">
              {{course.price}}<br>
              ريــال <br>
              سعــودى

            </p>
            <a href="{% url 'book' id=course.id %}" class="btn bgcolor register w-100  d-block">شــراء الــدورة</a>

          </div>
        </div>
      </div>
      {% endfor%}
    </div>
  </div>
{% endblock %}