<footer class="brownbgcolor">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="nav-footer">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a  href="{%url 'home' %}">الرئيســية</a>
            </li>
            <li class="list-inline-item">
              <a  href="{%url 'contact' %}">تــواصــل</a>
            </li>
          </ul>
        </nav>
        <div class="socials-a">
          <ul class="list-inline">
        
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter-square"></i>
              </a>
            </li>
          
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram-square"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright-footer">
          <p class="copyright color-text-a">
            &copy; الحقوق
            <span class="" style="color: #ffecb1">مـايســترو الــسعــوديــة</span> محفوظة.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer><!-- End  Footer -->