{% load static %}
<div class="banner text-center">
      <img src="{% static 'img/music.png'%}">
      <h3 class="browncolor">مــرحبــا بــك فى عالمنــا المــوسيقــى</h3>
      <div class="text">
            <p class="m-0">  المايسترو السعودية يدعم المواهب وينميها ويساعد الراغبين فى المجال الموسيقى </p>
            <p class="m-0">مع طاقم متخصص وذوى خبرة لأكثر من ثلاث سنوات</p>
            <p class="m-0">والشئ الذى يميزنا متاح لك التعليم باى مكان علشان دوراتنا عن بعد وتقدر تشوف الدورة مسجلة </p>

      </div>
      <a class="btn descoverbtn my-3 " href="{%url 'contact' %}">اكــتــشــــف</a>

</div>