{% load static %}
<div class="banner text-center">
      <img src="{% static 'img/music.png'%}">
      <h3 class="browncolor">مــرحبــا بــك فى عالمنــا المــوسيقــى</h3>
      <div class="text">
            <p class="m-0">
                  استعد لاكتشاف عالمٍ سحري، حيث تتلألأ النغمات وتتراقص الألحان. انطلق في رحلة تعلم الموسيقى،
            </p>
            <p class="m-0">
                  واستمتع بإطلاق خيالك الإبداعي وتعبيرك الشخصي عبر الأوتار والمفاتيح.
            </p>
            <p class="m-0">
                  اكتشف قوة الإيقاع وجمال الهارموني، واستعد للانغماس في عالمٍ مليء بالعاطفة والتعبير الفني. انطلق بثقة وتحدَّى نفسك، فالموسيقى في مايسترو تنتظرك لتكتشف فيها جوانب جديدة من ذاتك وتحقق أحلامك الصوتية.
            </p>
      </div>
      <a class="btn descoverbtn my-3 " href="{%url 'contact' %}">اكتشـــف مايستـــرو السعـــوديــة</a>
      {% include 'piano/piano.html'%}
</div>

